@color: #bfbfbf; 
// Tree 

@tree_width: 310px; 
@tree_height: 490px; 

// Talents
@talent_width: 43px; 
@talent_height: 43px; 


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: @color;
}

a {
  color: #00B7FF;
}

ul.tree {
	list-style-type: none;
	position: relative;
	float: left; 
	margin: 0px; 
	padding: 0px; 
	width: @tree_width;
	height: @tree_height;
	overflow: hidden;
	background-image: url('../images/tree-bg-plain.png'); 
}

li.talent {
	position: absolute; 
	padding: 0px; 
	margin: 0px;
	width: @talent_width; 
	height: @talent_height; 
	background-color: red; 
}

div.plus {
	width: 
}

div.minus {

}

li.talent span {
	display: none; 
}

li.rank_0 {
	top: 410px;
}

li.rank_1 {
	top: 345px;
}

li.rank_2 {
	top: 280px;
}

li.rank_3 {
	top: 215px;
}

li.rank_4 {
	top: 150px;
}

li.rank_5 {
	top: 85px;
}

li.rank_6 {
	top: 20px;
}

li.position_0 {
	left: 30px; 
}

li.position_1 {
	left: 96px; 
}

li.position_2 {
	left: 162px; 
}

li.position_3 {
	left: 228px; 
}

