h1= title 
form( method='post', action='/advancedclass/new')
	div 
		span Name: 
		input(type='text', name='name')
	div 
		span Internal name: 
		input(type='text', name='internal')		
	div 
		span Class: 
		input(type='text', name='class')
	div 
		input(type='submit', value='send')